<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdan.demo.mapper.StoreMapper">

	<resultMap id="storeResultMap" type="com.kdan.demo.dto.StoreDTO">
	    <result property="storeId" column="id"/>
	    <result property="storeName" column="name"/>
	    <result property="openingHours" column="opening_hours"/>
	</resultMap>
	
	<resultMap id="maskResultMap" type="com.kdan.demo.dto.MaskDTO">
	    <result property="maskName" column="name"/>
	    <result property="price" column="price"/>
	</resultMap>

    <select id="findStoreByTime" resultMap="storeResultMap">
    <![CDATA[
        select 
        	s.*
        from store_hours sh
        join store s 
        on s.id = sh.store_id
        where sh.weekday = #{weekDay} 
        AND #{time} BETWEEN open_time AND close_time
    ]]>
    </select>
    
    <select id="findMaskByStoreName" resultMap="maskResultMap">
    <![CDATA[
    	select
    		*
    	from (
    		select 
	        	CONCAT(mt.name, ' (', mt.color, ')', ' (', mt.quantity_per_pack, ' per pack)') as name,
	        	m.price
	        from store s
	        join mask m
	        on s.id = m.store_id
	        join mask_type mt
	        on mt.id = m.mask_type_id
	        where s.name = #{storeName}
    	) sub
        order by ${sortBy}
    ]]>
    </select>
    
    <select id="fineStoreByCountAndPriceRange" resultMap="storeResultMap">
    <![CDATA[
    	select
			s.id,
			s.name,
			s.opening_hours
		from mask m
		join store s
		on s.id = m.store_id 
		where m.price BETWEEN #{minPrice} AND #{maxPrice}
		group by
			s.id,
			s.name,
			s.opening_hours
		having count(m.id) ${comparison} #{comparisonNumber}
    ]]>
    </select>
    
    <select id="fuzzySearchStoreByStoreName" resultMap="storeResultMap">
    <![CDATA[
    	select
			s.id,
			s.name,
			s.opening_hours
		from store s
		where lower(s.name) like concat('%', lower(#{keyword}), '%')
    ]]>
    </select>
    
    <select id="fuzzySearchStoreByMaskName" resultMap="storeResultMap">
    <![CDATA[
    	select
			s.id,
			s.name,
			s.opening_hours
		from mask_type mt
		join mask m
			on mt.id = m.mask_type_id
		join store s
		on s.id = m.store_id 
		where lower(CONCAT(mt.name, ' (', mt.color, ')', ' (', mt.quantity_per_pack, ' per pack)')) like concat('%', lower(#{keyword}), '%')
		group by
			s.id,
			s.name,
			s.opening_hours
    ]]>
    </select>
    
    <select id="findPriceByStoreIdAndMaskTypeId" resultType="Double">
    <![CDATA[
    	select
			m.price
		from mask m
		where m.store_id = #{storeId}
		and m.mask_type_id = #{maskTypeId}
    ]]>
    </select>
    
    <select id="fineCashBalanceByStoreId" resultType="double">
    <![CDATA[
    	select s.cash_balance
    	from store s
    	where s.id = #{storeId}
    ]]>
    </select>
    
    <update id="updateStoreCashBalanceByStoreId">
    	update store set 
    		cash_balance = #{cashBalance}
    	where id = #{storeId}
    </update>
	
</mapper>